*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;

}

body>.container{
    background-image: url(../image/backdground.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0px 5px 20px rgba(1, 49, 77, 0.649);
}

.my-carousel{
    border-radius: 40px 0 40px 40px;
    border: 10px solid rgb(56, 118, 212);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    backdrop-filter: blur(10px) ;
    margin-bottom: 50px;
    color: rgb(254, 254, 254);
}

.content>div:last-of-type{
    backdrop-filter: blur(5px);
    color: white;
    border: 1px solid rgb(191, 238, 22);
}

#error-input{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 5px;
    color: red;
    display: none;
}   
#error-input-so-thuc{
    display: none;
}

#accordionFlushExample .accordion-item{
    background-color: transparent;
}
#accordionFlushExample .accordion-item .accordion-body{
    background-color: rgba(255, 255, 255, 0.41);
    color:white;
}
#accordionFlushExample .accordion-item:first-of-type .accordion-header button{
    border-radius: 10px 10px 0 0;
}
#accordionFlushExample .accordion-item:last-of-type .accordion-body,#accordionFlushExample .accordion-item:last-of-type .accordion-header button{
    border-radius: 0 0 10px 10px;
}
#accordionFlushExample .accordion-item:last-of-type .accordion-header button:focus{
    border-radius: 0;
}
.thanh-phan-mang span{
    border: 1px solid rgb(16, 189, 120);
    border-radius: 4px;
    padding: 10px;
}
#charAm,#charDuong{
    margin: 0 !important;
    padding: 5px 0 !important;
    border:0 !important;
    border-radius: 0;
    display: inline-block;
    box-shadow: none;
    height: 40px;
    outline: 0 !important;
    text-align: center;
}
#charAm{
    background-color: yellow;
}
#charDuong{
    background-color: green;
}
.index{
    border: 2px solid rgb(133, 211, 220);
    font-size: 20px;
    line-height: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 20px;
    background-color: rgb(105, 246, 190);
    color: white;
}
.body-content{
    margin: 8px auto;
    padding: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 255, 255, 0.107);
    border-radius: 10px;
}
.fa.fa-hand-point-right{
    color: rgb(163, 208, 18);
    margin-right: 5px;
}

